{% set component = null %}

{% if fancyLinkList or buttonLinkList %}
  {% set component %}
    <div class="space-y-7">
      {% if fancyLinkList %}
        <div class="mx-auto max-w-max text-lg md:text-xl">
          {% include '@components/Molecule/LinkList/FancyLinkList/FancyLinkList.twig' with fancyLinkList|merge({
            inline: true,
            centered: true
          }) only %}
        </div>
      {% endif %}
      {% if buttonLinkList %}
        <div class="mx-auto max-w-max">
          {% include '@components/Molecule/LinkList/ButtonLinkList/ButtonLinkList.twig' with buttonLinkList only %}
        </div>
      {% endif %}
    </div>
  {% endset %}
{% endif %}

{% include '@components/GenericSlab/GenericSlab.twig' with {
  heading: heading,
  centeredHeading: true,
  headingStyleLevel: 1,
  editorial: editorial,
  centeredEditorial: true,
  centeredEditorialText: true,
  component: component,
  theme: theme|default('mid-blue-500'),
  id: id,
  verticalRhythm: verticalRhythm
} only %}