<header>
  {% set component %}
    <div class="bg-gradient-to-b from-theme-bg-color to-mid-blue-500 text-theme-text-color py-vertical-space">
      <div class="container">

        <div class="space-y-5 sm:space-y-8">
          <div class="max-w-5xl">
            {% include '@components/Atom/Heading/Heading.twig' with heading|default({})|merge({
              tagLevel: 1
            }) only %}
          </div>

          {% if editorial %}
            <div>
              {% include '@components/Organism/Editorial/Editorial.twig' with editorial only %}
            </div>
          {% endif %}
        </div>

      </div>
    </div>
  {% endset %}

  {% include '@components/utilities/theme-flag.twig' with {
    component: component,
    theme: 'navy-500'
  } only %}
</header>