<footer>
  <div class="container py-vertical-space">
    <div class="mx-auto text-center prose md:prose-lg">
      <p>
        Have questions? Give us a call:
        <a href="{{ phoneLink.url }}">{{ phoneLink.title }}</a>
      </p>
      <p>© Old Dominion University, Norfolk, VA 23529 - <a href="{{ privacyPolicyLink.url }}">{{ privacyPolicyLink.title }}</a></p>
    </div>
  </div>
</footer>