<div class="bg-light-teal-100 p-molecule-padding space-y-2 max-w-max">
  <dt class="font-super font-bold uppercase tracking-widest text-black-true text-sm leading-tight sm:text-size-base">{{ studentType }}</dt>
  <dd class="font-display font-extrabold text-xl leading-tight sm:text-size-2xl text-navy-500">{{ cost }}</dd>
</div>