{% set component %}
  {% set baseHLevel = heading and heading.headline ? 3 : 2 %}

  <div class="flex flex-col space-y-10">
    {% for item in items %}
      <section class="flex flex-col space-y-8 pb-10 border-b last:border-b-0 last:pb-0">
        {% if item.heading and item.heading.headline %}
          <div>
            {% include '@components/Atom/Heading/Heading.twig' with item.heading|merge({
              tagLevel: baseHLevel
            }) only %}
          </div>
        {% endif %}

        {% if item.editorial %}
          <div>
            {% include '@components/Organism/Editorial/Editorial.twig' with item.editorial only %}
          </div>
        {% endif %}

        <ul role="list" class="flex flex-col space-y-9 ml-6">
          {% for section in item.sections %}
            <li class="flex flex-col space-y-6">
              {% if section.heading and section.heading.headline %}
                <div>
                  {% include '@components/Atom/Heading/Heading.twig' with section.heading|merge({
                    tagLevel: item.heading and item.heading.headline ? (baseHLevel + 1) : baseHLevel
                  }) only %}
                </div>
              {% endif %}

              <ul role="list" class="list-disc flex flex-col space-y-6 ml-6">
                {% for linkAndEditorial in section.linkAndEditorials %}
                  <li class="space-y-2.5">
                    {% if linkAndEditorial.fancyLink %}
                      <div class="underline text-base md:text-lg">
                        {% include '@components/Atom/Link/FancyLink/FancyLink.twig' with linkAndEditorial.fancyLink|merge({
                          withAfterIcon: false,
                        }) only %}
                      </div>
                    {% endif %}

                    {% if linkAndEditorial.editorial %}
                      <div>
                        {% include '@components/Organism/Editorial/Editorial.twig' with linkAndEditorial.editorial only %}
                      </div>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>

              {% if section.fancyLink %}
                <div class="text-lg">
                  {% include '@components/Atom/Link/FancyLink/FancyLink.twig' with section.fancyLink|merge({
                    withAfterIcon: true
                  }) only %}
                </div>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endfor %}
  </div>
{% endset %}

{% include '@components/GenericSlab/GenericSlab.twig' with {
  id: id,
  verticalRhythm: verticalRhythm,
  heading: heading,
  component: component
} only %}